@page "/login"
@using Blazored.LocalStorage;
@using OpenGitSync.Client.Services;
@using OpenGitSync.Client.Shared.Layouts;
@using OpenGitSync.Shared.DataTransferObjects;
@using OpenGitSync.Shared.ViewModels;
@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject IAuthService AuthService

<div class="container">
    
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <Alert Color="AlertColor.Danger"> <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>@ErrorMessage</Alert>
    }

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form @onsubmit="HandleSubmit">
                <div class="form-group row mb-3">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Enter your email" @bind="loginDto.Email" />
                </div>

                <div class="form-group row mb-3">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Enter your password" @bind="loginDto.Password" />
                </div>

                <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">Login</Button>
                <Button Color="ButtonColor.Primary" @onclick="GoToRegistration">Register</Button>
            </form>
        </div>
    </div>
</div>

@code {
    private UserLoginDto loginDto = new UserLoginDto();
    private string ErrorMessage = "";

    private async Task HandleSubmit()
    {
        if (!string.IsNullOrEmpty(loginDto.Email) && !string.IsNullOrEmpty(loginDto.Password))
        {

            var result = await AuthService.AuthenticateAsync(loginDto.Email, loginDto.Password);

            if (string.IsNullOrEmpty(result))
            {
                NavigationManager.NavigateTo("/dashboard");
            }
            else
            {
                ErrorMessage = result;
            }
            
        }
        else
        {
            // Display an error message if the form is not valid
            ErrorMessage = "Please enter both email and password.";
        }
    }

    private void GoToRegistration()
    {
        NavigationManager.NavigateTo("/register");
    }
}
