@page "/edit-project/{ProjectId}"
@using Microsoft.AspNetCore.Components.Forms
@using OpenGitSync.Client.Services
@using OpenGitSync.Client.Shared
@using OpenGitSync.Shared.DataTransferObjects;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IProjectService ProjectService

<PageTitle>Edit Project</PageTitle>

<h3>Edit Project</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

@if (Project == null)
{
    <LoadingIndicator loadingMessage="Loading project information..." />
}
else
{
    <EditForm EditContext="editContext" OnValidSubmit="HandleUpdateProject">
        <DataAnnotationsValidator />

        <div class="card mt-4">
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <InputText type="text" id="name" class="form-control" placeholder="Enter project name" @bind-Value="Project.Name" />
                    <ValidationMessage For="@(() => Project.Name)" />
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" placeholder="Enter project description" @bind="Project.Description"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    private ProjectDto Project { get; set; }
    private string ErrorMessage { get; set; }
    [Inject] protected ToastService ToastService { get; set; } = default!;
    [Parameter] public string ProjectId { get; set; }
    private EditContext editContext;

    protected override async Task OnInitializedAsync()
    {
        await LoadProject();
        editContext = new EditContext(Project);
    }

    private async Task LoadProject()
    {
        // Make an API request to retrieve the project by ID
        var response = await ProjectService.GetProjectById(ProjectId);

        if (response != null)
        {
            Project = response;
        }
        else
        {
            ErrorMessage = "Failed to load project information";
        }
    }

    private async Task HandleUpdateProject()
    {
        ErrorMessage = "";

        if(!editContext.IsModified())
        {
            ToastService.Notify(new(ToastType.Info, $"No changes to put."));
            return;
        }

        // Make an API request to update the project
        var isSuccess = await ProjectService.UpdateProject(Project.Id, Project);

        if (isSuccess)
        {
            // Project update successful, redirect to the project details page or perform other actions
            ToastService.Notify(new(ToastType.Success, $"Project details saved successfully."));
            NavigationManager.NavigateTo($"/edit-project/{Project.Id}");
        }
        else
        {
            // Handle the project update error, display an error message, or perform other actions
            ToastService.Notify(new(ToastType.Danger, $"Failed to update project."));
        }
    }
}
