@page "/"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inherits LayoutComponentBase

<div class="container">
    <h3 class="mt-5">Welcome to the Home page!</h3>

    <p>This is the main page of your application.</p>
    <p>Feel free to customize this page to fit your needs.</p>
</div>
