@page "/"
@page "/home"
@layout MainLayout

<h3>Welcome to Sync App!</h3>

<p>
    This is the home page of your application. You can customize this page to provide an overview or introduction to your application's features.
</p>

<p>
    Feel free to explore the different sections of the application and use the navigation menu to access other pages and features.
</p>
