@inherits LayoutComponentBase

<div class="main-layout">
    <div class="sidebar">
        <h4>Navigation</h4>
        <NavMenu />
    </div>

    <div class="content">
        <div class="header">
            <h3>Sync App</h3>
        </div>
        <div class="body">
            @Body
        </div>
    </div>
</div>
