<div class="sidebar">
    <div class="sidebar-header">
        <h3>My App</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-home"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/projects">
                <span class="oi oi-folder"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/settings">
                <span class="oi oi-cog"></span> Settings
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/logout">
                <span class="oi oi-account-logout"></span> Logout
            </NavLink>
        </li>
    </ul>
</div>
