<div class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
    <p class="mt-2">@LoadingMessage</p>
</div>

@code {
    [Parameter] public string LoadingMessage { get; set; } = "Loading...";
}